@page "/createcomic"

@using MyComicsManagerWeb.Models
@using MyComicsManagerWeb.Services
@inject ComicService ComicService;
@inject NavigationManager NavigationManager;

<h1>Create</h1>

<EditForm Model="@comic" OnValidSubmit="Create">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="inputTitle">Titre</label>
        <InputText id="title" @bind-Value="comic.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputCategory">Catégorie</label>
        <InputText id="category" @bind-Value="comic.Category" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputAuthor">Author</label>
        <InputText id="author" @bind-Value="comic.Author" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputPrice">Prix</label>
        <InputNumber id="price" @bind-Value="comic.Price" class="form-control" />
    </div>    
    <button class="btn btn-primary" type="submit">Create</button>
</EditForm>

@code {
    private Comic comic = new Comic();

    private async Task Create()
    {
        await ComicService.CreateComicAsync(comic);
        NavigationManager.NavigateTo("listcomics", false);
    }
}
