@page "/libraries/list"

@using MyComicsManagerWeb.Models
@using MyComicsManagerWeb.Services
@inject LibraryService LibraryService

<h1>Library <a class="btn btn-primary" href="/libraries/create">Ajouter</a></h1>

@if (libraries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var library in libraries)
            {
                <tr>
                    <td>
                        <a href="library/edit/@(library.Id)">@library.Id</a>
                    </td>
                    <td>@library.Name</td>                    
                    <td><button class="btn btn-primary" @onclick="@(async () => await DeleteLibrary(library.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Library> libraries;

    protected override async Task OnInitializedAsync()
    {
        libraries = await LibraryService.GetLibraries();
    }

    private async Task DeleteLibrary(String id) {
        await LibraryService.DeleteLibrary(id);
        libraries = await LibraryService.GetLibraries();
    }
}
