@page "/comics/edit/{id}"

@using MyComicsManager.Model.Shared
@using MyComicsManagerWeb.Services
@using System.Threading
@using MyComicsManagerWeb.Models

@inject ComicService ComicService
@inject ThumbnailService ThumbnailService
@inject IDialogService DialogService
@inject ISnackbar Snackbar

@if (_comic == null)
{
    <p><em>Loading...</em></p>

} else { 
    <MudContainer MaxWidth="MaxWidth.False" >
        
        <NavMenu/>

        <EditForm Model="@_comic" OnValidSubmit="Update">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <MudCard Class="mt-4">
                <MudCardContent>
                    <MudText Typo="Typo.h5">Données techniques</MudText>
                    <MudGrid Spacing="2">
                        @{
                            var coverPath = "/covers/" + _comic.CoverPath + "?size=300";
                        }
                        <MudItem xs="12" sm="2">
                            <MudElement HtmlTag="img" src="@coverPath"/>
                        </MudItem>
                        <MudItem xs="12" sm="10">
                            <MudItem>
                                <MudTextField Label="Id" Variant="Variant.Filled" @bind-Value="_comic.Id" ReadOnly="true"/>
                            </MudItem>
                            <MudItem >
                                <MudTextField Label="Library Id" Variant="Variant.Filled" @bind-Value="_comic.LibraryId" ReadOnly="true"/>
                            </MudItem>
                            <MudItem>
                                <MudTextField Label="EbookName" Variant="Variant.Filled" @bind-Value="_comic.EbookName" ReadOnly="true"/>
                            </MudItem>
                            <MudItem>
                                <MudTextField Label="EbookPath" Variant="Variant.Filled" @bind-Value="_comic.EbookPath" ReadOnly="true"/>
                            </MudItem>
                            <MudItem>
                                <MudTextField Label="Date d'ajout" Variant="Variant.Filled" @bind-Value="_comic.Added" ReadOnly="true"/>
                            </MudItem>
                            <MudItem>
                                <MudTextField Label="Date de modification" Variant="Variant.Filled" @bind-Value="_comic.Edited" ReadOnly="true"/>
                            </MudItem>
                            <MudItem>
                                <MudTextField Label="Cover Path" Variant="Variant.Filled" @bind-Value="_comic.CoverPath" ReadOnly="true"/>
                            </MudItem>
                            <MudItem>
                                <MudTextField Label="Import Status" Variant="Variant.Filled" @bind-Value="_comic.ImportStatus" ReadOnly="true"/>
                            </MudItem>
                            <MudItem>
                                <MudTextField Label="Import Message" Variant="Variant.Filled" @bind-Value="_comic.ImportErrorMessage" ReadOnly="true"/>
                            </MudItem>
                            <MudItem>
                                <MudTextField Label="WebPFormatted" Variant="Variant.Filled" @bind-Value="_comic.WebPFormated" ReadOnly="true"/>
                            </MudItem>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardContent>
                    <MudText Typo="Typo.h5">Informations sur le comic</MudText>
                    <MudGrid Spacing="2">
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Série" Variant="Variant.Text" @bind-Value="_comic.Serie" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Titre" Variant="Variant.Text" @bind-Value="_comic.Title" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="ISBN" Variant="Variant.Text" @bind-Value="_comic.Isbn" />                            
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Volume" Variant="Variant.Text" @bind-Value="_comic.Volume" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Prix" Variant="Variant.Text" @bind-Value="_comic.Price" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Catégorie" Variant="Variant.Text" @bind-Value="_comic.Category" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Date de publication" Variant="Variant.Text" @bind-Value="_comic.Published" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Scénariste" Variant="Variant.Text" @bind-Value="_comic.Writer" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Déssinateur" Variant="Variant.Text" @bind-Value="_comic.Penciller" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Coloriste" Variant="Variant.Text" @bind-Value="_comic.Colorist" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Editeur" Variant="Variant.Text" @bind-Value="_comic.Editor" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Langue" Variant="Variant.Text" @bind-Value="_comic.LanguageIso" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Pages" Variant="Variant.Text" @bind-Value="_comic.PageCount" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="Note" Variant="Variant.Text" @bind-Value="_comic.Review" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudTextField Label="URL Fiche" Variant="Variant.Text" @bind-Value="_comic.FicheUrl" />
                        </MudItem>
                        <MudSelect Label="Type de cover" Variant="Variant.Text" @bind-Value="_comic.CoverType" >
                            @foreach (CoverType item in Enum.GetValues(typeof(CoverType)))
                            {
                                <MudSelectItem Value="@item">@item</MudSelectItem>
                            }
                        </MudSelect>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions>
                    <MudButton  Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="EvaluateComicAsync">Evaluer</MudButton>

                    <WaitMudButton Status="ExtractIsbnComicAsyncStatus">
                        <MudButton  Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="ExtractIsbnComicAsync">Extraire ISBN</MudButton>
                    </WaitMudButton>
                    
                    <WaitMudButton Status="SearchComicInfoAsyncStatus">
                        <MudButton  Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="SearchComicInfoAsync">Rechercher</MudButton>
                    </WaitMudButton>
                    
                    <WaitMudButton Status="ExtractCoverAsyncStatus">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ExtractCover" Class="ml-auto">Cover</MudButton>
                    </WaitMudButton>
                    
                    <WaitMudButton Status="FindIsbnGoogleBookAsyncStatus">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="FindIsbnGoogleBookAsync" Class="ml-auto">GoogleSearch</MudButton>
                    </WaitMudButton>
                    
                    <WaitMudButton Status="UpdateComicAsyncStatus">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Enregistrer</MudButton>
                    </WaitMudButton>
                    
                </MudCardActions>
            </MudCard>

        </EditForm>

        

    </MudContainer>



}


@code {
    [Parameter]
    public string Id { get; set; }

    private Comic _comic;

    protected List<string> ListIsbn = new List<string>();

    protected string SelectedIsbn = "";
    
    private bool UpdateComicAsyncStatus { get; set; }
    private bool ExtractIsbnComicAsyncStatus { get; set; }
    private bool SearchComicInfoAsyncStatus { get; set; }
    private bool FindIsbnGoogleBookAsyncStatus { get; set; }
    private bool ExtractCoverAsyncStatus { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _comic = await ComicService.GetComic(Id);
    }

    private async Task Update()
    {
        UpdateComicAsyncStatus = true;
        _comic = await ComicService.UpdateComicAsync(_comic);
        UpdateComicAsyncStatus = false;
        this.StateHasChanged();
    }

    private async Task SearchComicInfoAsync()
    {
        SearchComicInfoAsyncStatus = true;
        var tmpComic = await ComicService.SearchComicInfoAsync(_comic.Id);
        Snackbar.Clear();
        if (null == tmpComic)
        {
            Snackbar.Add("Comic inconnu au bataillon !,", Severity.Warning);
        }
        else
        {
            Snackbar.Add("Recherche terminée avec succès !", Severity.Success);
            _comic = tmpComic;
        }
        
        SearchComicInfoAsyncStatus = false;
        this.StateHasChanged();
    }

    private async Task ExtractIsbnComicAsync()
    {

        ExtractIsbnComicAsyncStatus = true;
        var parameters = new DialogParameters {{"Id", _comic.Id}};

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<DialogIsbnSelector>("Select ISBN", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var isbn = result.Data.ToString();
            
            if ((null != isbn) && (isbn.Contains(':')))
            {
                _comic.Isbn = isbn.Split(':')[1].Trim();
            }
            else
            {
                _comic.Isbn = isbn;    
            }
            
            await ComicService.UpdateComicAsync(_comic);
            this.StateHasChanged();
        }
        ExtractIsbnComicAsyncStatus = false;

    }
    
    private async Task FindIsbnGoogleBookAsync()
    {

        FindIsbnGoogleBookAsyncStatus = true;
        var parameters = new DialogParameters();
        parameters.Add("Title", _comic.Title);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<DialogGoogleIsbnSelector>("Select ISBN", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            var tmp = (GoogleBookInfo)result.Data;

            _comic.Isbn = tmp.searchComic.Isbn;
            _comic.Penciller = tmp.searchComic.Penciller;
            _comic.Serie = tmp.searchComic.Serie;
            _comic.Title = tmp.searchComic.Title;
            _comic.Writer = tmp.searchComic.Writer;
            _comic.FicheUrl = tmp.searchComic.FicheUrl;
            _comic.Colorist = tmp.searchComic.Colorist;
            _comic.LanguageIso = tmp.searchComic.LanguageIso;
            _comic.Published = tmp.searchComic.Published;
            _comic.Volume = tmp.searchComic.Volume;
            _comic.Review = tmp.searchComic.Review;
            _comic.Price = tmp.searchComic.Price;

            await ComicService.UpdateComicAsync(_comic);
            this.StateHasChanged();
        }
        FindIsbnGoogleBookAsyncStatus = false;

    }
    
    private async Task ExtractCover()
    {
        ExtractCoverAsyncStatus = true;
        await ComicService.ExtractCover(_comic.Id).WaitAsync(CancellationToken.None);
        ThumbnailService.Clear(_comic.Id);
        this.StateHasChanged();
        ExtractCoverAsyncStatus = false;
    }
    
    private async Task EvaluateComicAsync()
    {

        var parameters = new DialogParameters();
        parameters.Add("Id", _comic.Id);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        var dialog = DialogService.Show<DialogReview>("Evaluation", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {

            if (result.Data != null)
            {
                // Si le champ est null, il est initialisé
                _comic.ComicReviews ??= new List<ComicReview>();
                // L'évaluation est ajoutée
                _comic.ComicReviews.Add((ComicReview)result.Data);
            }
            await ComicService.UpdateComicAsync(_comic);
            this.StateHasChanged();
        }

    }

}