@page "/book/create"

@inject ISnackbar _snackbar

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    
    

    

        <MudGrid >
            <MudItem xs="12" md="12" lg="6">
                <EditForm Model="@Book" OnValidSubmit="Create">
                
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                <MudGrid >
                    <MudItem xs="12">
                        <MudTextField Label="ISBN" Variant="Variant.Text" @bind-Value="Book.Isbn"/>
                    </MudItem>
                    <MudItem xs="12" Class="d-flex align-end">
                        <MudRating @bind-SelectedValue="Book.Review"/>
                    </MudItem>
                    <MudItem xs="12">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Ajouter</MudButton>
                    </MudItem>
                </MudGrid>
                </EditForm>
            </MudItem>
            
            
            <MudItem xs="12" md="12" lg="6">
                <MudText Typo="Typo.h6">BarcodeScanner</MudText>
                
                <button class="btn btn-primary" @onclick="InitializeBarcodeScanner">Scan</button>
                
                <div id="barcodeScannerElement" style="@barcodeScannerElementStyle"></div>
                @* Erreur après le scan 
                <BlazorBarcodeScanner.ZXing.JS.BarcodeReader
                    Title="Scan Barcode from Camera"
                    StartCameraAutomatically="true"
                    VideoWidth="640"
                    VideoHeight="480"
                    OnBarcodeReceived="LocalReceivedBarcodeText"
                    ShowStart="false"
                    ShowReset="false"
                    ShowToggleTorch="false"
                    ShowResult="true"
                    ShowVideoDeviceList="false"
                />
                *@
            </MudItem>
            
        </MudGrid>

</MudContainer>
