@page "/"

<h1>MyComicsManager</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="item">

    <img src="/covers/oops.png?size=256" /> <!-- Default size equivalent à <img src="/covers/oops.png" /> -->
    <img src="/covers/oops.png?size=128" />
    <img src="/covers/oops.png?size=64" />
    <img src="/covers/oops.png?size=32" />

</div>
