@page "/comics/list"

@using MyComicsManagerWeb.Models
@using MyComicsManagerWeb.Services
@inject ComicService ComicService

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-16">

    <h1>Comics <a class="btn btn-primary" href="/comics/create">Ajouter</a></h1>

    @if (comics == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        <MudGrid>
            @foreach (var comic in comics)
            {
                @*<div class="card mb-4" style="min-width: 15rem; max-width: 20rem;">
                        <img class="card-img" src="/Covers/@(comic.Id).jpg?size=256" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><a href="comics/edit/@(comic.Id)">@comic.Title</a></h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>*@
                string coverPath = "/Covers/@(comic.Id).jpg?size=256";
                <MudItem xs="4">
                    <MudCard>
                        <MudCardMedia Image="@coverPath" Height="200" />
                        <MudCardContent>
                            <MudText Typo="Typo.h5">@comic.Title</MudText>
                            <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }

        </MudGrid>
    }
</MudContainer>

    @code {
        private IEnumerable<Comic> comics;

        protected override async Task OnInitializedAsync()
        {
            comics = await ComicService.GetComics();
        }

        private async Task DeleteComic(String id)
        {
            await ComicService.DeleteComic(id);
            comics = await ComicService.GetComics();
        }
    }
