@page "/admin"
@attribute [Authorize(Roles = "Admin")]

@using System.Security.Cryptography
@attribute [StreamRendering]

<PageTitle>Admin</PageTitle>

<h1>Admin</h1>

<h1>Welcome, @Username!</h1>
You can only see this content if you're authenticated.
<br />
<img src="@Picture">
