@page "/admin"
@attribute [Authorize(Roles = "Admin")]
@attribute [StreamRendering]

<PageTitle>Admin</PageTitle>

<h1>Admin</h1>

<h2>Welcome, @_username!</h2>
You can only see this content if you're authenticated.
<br />
@if (!string.IsNullOrWhiteSpace(_picture))
{
    <img src="@_picture" alt="User avatar">
}
