@layout LoginLayout
@page "/"
@using System.Security.Cryptography

<div class="landing-background" style="background-image: url('/@_selectedImage');"></div>
<div class="fixed-login-column" >

    <div class="logo-square" >
        <img src="logo.png" alt="Logo MyComicsMaanger" />
    </div>

    <span class="app-title">MyComicsManager</span>
    <span class="subtitle">Access your digital comic library</span>

    <MudButton
        Class="sign-in-btn"
        Href="/Account/Login?redirectUri=/home"
        EndIcon="@Icons.Material.Filled.Login"
        Size="Size.Medium">
        Login
    </MudButton>

    <span class="copyright">© ndt.ovh</span>
</div>
