<style>
    .blue-left-border {
        border-left: 4px solid #1976d2; /* Material Blue 700 */
    }
</style>

<div class="ma-4" >

    <div class="d-flex align-center justify-space-between">
        <div class="d-flex align-center">
            <MudIcon Class="mr-2" Icon="@Icon" />
            <MudText Typo="Typo.h5"><strong>@Title</strong></MudText>
        </div>
        <MudButton StartIcon="@ActionIcon"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   OnClick="@OnActionClick">
            @ActionName
        </MudButton>        
    </div>

    <div class="mt-4">
        @ChildContent
    </div>        
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public string? ActionName { get; set; }

    [Parameter]
    public string? ActionIcon { get; set; }

    [Parameter]
    public EventCallback OnActionClick { get; set; }
}
