<div class="ma-4" >

    <div class="d-flex align-center justify-space-between">
        <div class="d-flex align-center">
            <MudIcon Class="mr-2" Icon="@Icon" />
            <MudText Typo="Typo.h5"><strong>@Title</strong></MudText>
        </div>
        <MudButton StartIcon="@ActionIcon"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   OnClick="@OnActionClick">
            @ActionName
        </MudButton>
    </div>

    <div class="mt-4">
        @ChildContent
    </div>
</div>
