<div class="ma-4" >

    <div class="d-flex align-center justify-space-between">
        <MudText Typo="Typo.h5"><strong>@Title</strong></MudText>              
    </div>

    <div class="mt-4">
        @ChildContent
    </div>        
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public String Title { get; set; }
}
